@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: lemonchiffon;
 

}

.home{
  text-align: center;
  align-items: center;

}

.title{
  text-align: center;
}

.link-button{
  text-align: center;
}

.background-img{
   width: 100vw;
   height: 1488px;
}



.animal {
  &-list {
    list-style-type: none;
    text-align: center;
  }
  
  &-img {
    height: 400px;
    width: 625px;
  }

  &-column{
  display: flex;
  text-align: center;
  flex-direction: row;
  padding-left: 100px;
  }

  &-home-pic{
    padding-top: 100px;
    padding-left: 36%;
  }

}

.animal-stuff{
  text-align: center;
  padding-left: 90px;
  padding-right: 90px
}






.animalProfile {
  text-align: center;
}

.animalimg { 
  height: 500px;
  width: auto;
}

// .backimg {
//   content: "";
//       background-image: url('https://placekitten.com/1200/800');
//       background-size: cover;
//       position: absolute;
//       top: 0px;
//       right: 0px;
//       bottom: 0px;
//       left: 0px;
      
// }

