@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
html,
body {
  font-family: "Montserrat", sans-serif;
  
}


.title{
  text-align: center;

}


.animal {
  &-list {
    list-style-type: none;
    text-align: center;
  }
  
  &-img {
    height: 300px;
    width: auto;
  }
}

.animalProfile {
  &-img{
    height: 500px;
  width: auto;
  }
  text-align: center;
}

.backimg {
  content: "";
      background-image: url('https://placekitten.com/1200/800');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      
}
